<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST"><h1>edit your post:</h1>
        <textarea name="msg" rows="5" cols="50" ></textarea>
        <button class="btn btn-primary">EDIT</button>
        
       
       
    </form>
    
</body>
</html>